<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773168284102-u1gn021jl2qpmv53oip6bl266pe5e5u4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773168284102-u1gn021jl2qpmv53oip6bl266pe5e5u4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>773168284102-l73th0o16a7pr6bbjddji0m82iv6lu72.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7aySkn_4yKPa1jsyn19APhM4WzNbLzl4</string>
	<key>GCM_SENDER_ID</key>
	<string>773168284102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jan.app</string>
	<key>PROJECT_ID</key>
	<string>sigma-32aa8</string>
	<key>STORAGE_BUCKET</key>
	<string>sigma-32aa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773168284102:ios:9e38153937ade61990f2c7</string>
	<key>DATABASE_URL</key>
	<string>https://sigma-32aa8.firebaseio.com</string>
</dict>
</plist>